@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Faster+One');
		body
		{
			margin: 0px;
			padding: 0px;
			background-color: black;	 
			color: white;
			font-family: 'Comfortaa', cursive;
		}
		hr
		{
					width: 50%;
					border: 0px solid black;
					padding: 04px;
					border-radius: 25px;
					background-color: white;
					margin: center;
		}
		span
		{
			font-family: 'Comfortaa', cursive;
			font-size: 34px;
			line-height: 70px;
			text-align: center;
		}
		.container
		{
			height: 74vh;
			text-align: center;
			margin: auto;
			/*border: 3px solid white;*/
			padding: 45px 0;
			padding-top:30vh;
		}
		.images
		{
			height: 130px; 
		}